html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #6b6b83;
  font-family: "Playfair Display", serif;
}

header, footer {
background: #aa4b6b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}

header {
    color: #fff;
    min-height: 100vh;
    display: flex;
  }

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 20px;
  margin: 44px 20px;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

a {
  color: #3b8d99;
}

a:hover {
  color: #aa4b6b;
}

h1 {
  font-family: Lato, sans-serif;
  font-size: calc(1em + 5vw);
  padding-bottom: .67em;
  border-bottom: 1px solid;
  line-height: 1.3;
}

h2 {
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #3b8d99;
  padding: 19px 10px 0px 10px;
}

h3 {
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #3b8d99;
  padding: 0px 10px 0px 10px;
}

img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.wrapper {
    max-width: 1150px;
    margin: auto;
    padding: 50px;
    display: block;
}

.bio {
  color: #ffffff;
  font-size: 24px;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-content: center;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-content: center;
}

.myButton {
  border-radius: 28px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  padding: 16px 35px;
  text-decoration: none;
  margin: 1.69em auto;
}

.myButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.myButton:active {
    position:relative;
    top:1px;
}

.project {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
  width: 100%;
  background-color: white;
}

.description {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #3f4040;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #757575;
}

.container {
  margin: auto;
}

footer div {
  height: 100%;
  font-family: Lato, sans-serif;
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.6);
}

.copyright {
  margin: auto 0;
}

.icons {
  list-style-type: none;
  display: inline-flex;
}

.icons a {
  margin: 0 8px;
  color: rgba(255, 255, 255, 0.6);
}

.icons a:hover {
  color: rgba(255, 255, 255, 0.9);
}

iframe {
  height: 50vh;
}

@media all and (max-width:700px) {
  main {
    grid-template-columns: 1fr;
    margin: 44px auto;
  }
img, iframe {
    height: 35vh;
  }
}
